*, html, body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  vertical-align: baseline;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}

.title-1 {
  font-size: 2.5rem;
  margin-bottom: 1.2rem;
}

.title-2 {
  font-size: 2rem;
  margin-bottom: 1.2rem;
}

.title-3 {
  font-size: 1.75rem;
  margin-bottom: 1.1rem;
}

.block {
  width: 100%;
  display: block;
}

.button-primary {
  background-color: #02b3e4;
  padding: .6rem 1.1rem;
  color: white;
  border: none;
}

.field-wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.label {
  margin-bottom: 5px;
}

.input {
  width: 100%;
  padding: 4px 8px;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

ul {
  list-style: none;
}